html {
    min-height: 100%;
    background: linear-gradient(0deg, rgba(14, 19, 31, 0.37), rgba(2, 4, 7, 0.384)), url(/public/images/test.png);
    background-size: cover;
}

@font-face {
    font-family: 'oswald';
    src: url('/MinecraftTen-VGORe.ttf');
}

.card {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);

    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;

    padding: 20px;
    border: 1px solid #cccccc54;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.37);
}

.card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Centers items vertically */
}

.h-img {
    max-width: 100%;
    /* Ensures the image does not exceed its container */
    margin-right: 26px;
    /* Adjust as needed for spacing between image and text */
}

/* Add media queries for responsive design */
@media (max-width: 768px) {
    .card-content {
        flex-direction: column;
        /* Stacks items vertically on smaller screens */
        text-align: center;
        /* Centers text on smaller screens */
    }

    .h-img {
        margin-bottom: 16px;
        /* Adjust as needed for spacing between image and text on smaller screens */
    }
}

.hero-title {
    color: #ffffff;
    /* Set the text color */
    font-size: 28px;
    /* Set the font size */
    margin-bottom: 12px;
    /* Adjust the margin bottom as needed */
    font-weight: bold;
    /* Set the font weight, if desired */
    /* Add additional styles as needed */
}

.description {
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    /* Adjust the color as needed */
    margin-top: 10px;
    /* Adjust the top margin as needed */
}

.copyip {

    /* From https://css.glass */
    background: rgba(51, 51, 51, 0.548);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 1);

    font-size: 18px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-radius: 10px;
    margin-bottom: 40px;
}

.copyip span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.copyip span:after {
    content: "✔ Let's Join DC";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.copyip:hover span {
    padding-right: 150px;
}

.copyip:hover span:after {
    opacity: 1;
    right: 0;
}

.copyip:focus,
.copyip:active {
    outline: none !important;
    box-shadow: none;
}

/* YourComponent.css */

.popup {

    top: 50%;
    left: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.36);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.popup p {
    margin: 0;
}

.popup button {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.popup button:hover {
    background-color: #ff9797;
}