.status {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(255, 255, 255, 0.85);

    padding: 8px;
    border-radius: 5px;
    color: white;
    margin-right: 20px;
}
.server-status-container{
    text-align: center;
}
@media (max-width: 863px) {
    .server-status-container {
        display: flex;
        flex-direction: column;
      }
      
      .status {
        margin-bottom: 10px; /* Add some margin between the spans */
      }
      
      @media (max-width: 600px) {
        .status {
          display: block; /* Display spans as blocks on smaller screens */
        }
      }
      

}